In [1]:
#for loop is used when we have to perform same operation on eah and every element of a string or list for example we transform all letter of string in to upper ase
l = "i am om"
for i in l:
    print(i.upper())

I

A
M

O
M

In [6]:
#while loop is used if we don't have idea about how many times does loop run but have to perform similar operation in all steps. for example 
i=1
while i <= 10:
    print(i)
    i= i+1

1
2
3
4
5
6
7
8
9
10

In [7]:
#Q2 sum of n natural number 
#sum BY for loop
n = int(input("Enter any natural number : "))
l = list(range(0,n+1))
total=0
for i in l:
    total +=i
total

Enter any natural number :  5

15

In [9]:
#Q2 sum of n natural number 
#multipliation BY for loop
n = int(input("Enter any natural number : "))
l = list(range(1,n+1))
total=1
for i in l:
    total= i*total
total

Enter any natural number :  3

6

In [4]:
#Q4 BILL FOR A HOUSEHOLD
N = int(input("Enter units :" ))
if N<100:
    bill = 100-N
    print("Bill is",bill*4.5)
elif N>100 and N<200:
    x= 450
    bill = N-100
    print("Bill is",x + bill*6)
elif N>200 and N<300:
    x= 450
    y=600
    bill = N-200
    print("Bill is",x+y+bill*10)
elif N>300:
    x=450
    y=600
    z=1000
    bill=N-300
    print("Bill is",x+y+z+bill*20)

Enter units : 310

Bill is 2250

In [6]:
#Q4 BY for loop
l = list(range(1,101))
lst=[]
for i in l:
    if i**3 %4 ==0 or i**3 %5==0:
        lst.append(i)
lst

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [3]:
#Q4 by whikle loop
l =[]
i=1
while i<=100:
    if i**3 %4==0 or i**3 %5==0:
        l.append(i)
    i = i+1
l

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

In [3]:
s = "I want to beome a data sientist "
ount = 0
for i in s:
    if i.lower()=='a' or i.lower() =='e' or i.lower() == 'i' or i.lower()=='o' or i.lower() =='u':
        ount= ount+1
print("The vowel ount is", ount)

The vowel ount is 12